@import '../../variables';
.jumbotron {
  margin: 3% auto;
  width: 80%;
}

.main-blue-box {
  margin-top: 1%;
}

.btn-google {
  background-color: #db3236;
  color: white;
  width: 45%;
}

.googleButtonWrapper {
  margin: 0 auto;
  min-width: 80%;
  width: 100%;
  width: 80%;
}