/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Ubuntu', sans-serif;
  background-image: url('./assets/images/scary-666620.jpg');
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IM Fell English', serif !important;
}